:root {
    --theme-ultralight: #bcd8ff;
    --theme-light: #79b2ff;
    --theme-mid: #217fff; /* your new base hue */
    --theme-dark: #134c99;
    --theme-ultradark: #09264c; /* optional, if you want symmetry */
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color: var(--theme-mid);
    --md-accent-fg-color: var(--theme-dark);
}

[data-md-color-scheme="slate"] {
    --md-hue: 210;
    --md-primary-fg-color: var(--theme-mid);
    --md-primary-fg-color--light: var(--theme-light);
    --md-primary-fg-color--dark: var(--theme-dark);
    --md-accent-fg-color: var(--theme-light);
    /* Pick one of these for a bit more of grey background */
    /*--md-default-bg-color: #2e2e2e;*/
    /*--md-default-bg-color: #1e1e1e;*/
}

[data-md-color-scheme="slate"] .slacker-logo {
    content: url('../img/slacker-icon.png');
}

[data-md-color-scheme="default"] .slacker-logo {
    content: url('../img/slacker-icon.png');
}

.md-typeset img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*tr:nth-child(odd) code {*/
/*    !* background-color: var(--table-shading); *!*/
/*    background-color: var(--table-shading);*/
/*    border: solid 1px #ccc;*/
/*}*/

/*tr:nth-child(odd) {*/
/*    background-color: var(--table-shading);*/
/*    border: solid 1px #ccc;*/
/*}*/

:root {
    --md-admonition-icon--yaml: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m0 .97 4.111 6.453v4.09h2.638v-4.09L11.053.969H8.214L5.58 5.125 2.965.969Zm12.093.024-4.47 10.544h2.114l.97-2.345h4.775l.804 2.345h2.26L14.255.994Zm1.133 2.225 1.463 3.87h-3.096zm3.06 9.475v10.29H24v-2.199h-5.454v-8.091zm-12.175.002v10.335h2.217v-7.129l2.32 4.792h1.746l2.4-4.96v7.295h2.127V12.696h-2.904L9.44 17.37l-2.455-4.674Z"/></svg>')
}

/* -------------------------------------------------------------------------- */
/* De-emphasise level 3 headings in the toc.
/* -------------------------------------------------------------------------- */

.md-nav__item .md-nav__item .md-nav__link {
    font-size: 90%;
}

/* Light mode - Level 2 headings */
[data-md-color-scheme="default"] .md-nav__item > .md-nav__link {
    color: inherit; /* default color for level 2 */
}

[data-md-color-scheme="default"] .md-nav__item > .md-nav__link:hover {
    color: var(--theme-dark);
}

[data-md-color-scheme="default"] .md-nav__item > .md-nav__link--active {
    color: var(--theme-mid);
}

/* Light mode - Level 3 headings */
[data-md-color-scheme="default"] .md-nav__item .md-nav__item .md-nav__link {
    color: #777777;
}

[data-md-color-scheme="default"] .md-nav__item .md-nav__item .md-nav__link:hover {
    color: var(--theme-dark);
}

[data-md-color-scheme="default"] .md-nav__item .md-nav__item .md-nav__link--active {
    color: var(--theme-mid);
}

/* Dark mode - Level 2 headings */
[data-md-color-scheme="slate"] .md-nav__item > .md-nav__link {
    color: inherit; /* default color for level 2 */
}

[data-md-color-scheme="slate"] .md-nav__item > .md-nav__link:hover {
    color: var(--theme-light);
}

[data-md-color-scheme="slate"] .md-nav__item > .md-nav__link--active {
    color: var(--theme-mid);
}

/* Dark mode - Level 3 headings */
[data-md-color-scheme="slate"] .md-nav__item .md-nav__item .md-nav__link {
    color: #777777;
}

[data-md-color-scheme="slate"] .md-nav__item .md-nav__item .md-nav__link:hover {
    color: var(--theme-light);
}

[data-md-color-scheme="slate"] .md-nav__item .md-nav__item .md-nav__link--active {
    color: var(--theme-mid);
}
